body {
  margin: 5px 30px 30px;
  background-color: bisque;
}

h1,
p,
.links {
  text-align: center;
}

a {
  margin: 15px;
}

.quote {
  text-align: right;
}

img {
  display: block;
  margin: 0 auto;
}
